pipeline/Trigger Invoke Databricks NoteBook.json
{
	"name": "Trigger Invoke Databricks NoteBook",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/pooja.dattatri@in.ey.com/InvokeDataBricksTestNoteBook",
					"baseParameters": {
						"user-input": "Dummy_Value"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks_210524",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ExecutionMessage",
					"value": {
						"value": "@activity('Notebook1').output.runOutput",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ExecutionMessage": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-21T13:14:21Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}